body.page {
  background-color: rgb(245, 168, 14);
}


.bgcolor {
  background-color: rgb(46, 46, 46);
  box-shadow: 0 15px 6px -6px rgb(166, 113, 8);
 }
 
#login {
    background-color:rgb(227, 202, 195); 
}

 #login:hover {
  background-color:rgb(46, 46, 46);
  box-shadow: 0 15px 6px -6px rgb(166, 113, 8);
 }

 #register {
  background-color:rgb(227, 202, 195);
 }
 #register:hover {
  background-color:rgb(46, 46, 46);
  box-shadow: 0 15px 6px -6px rgb(166, 113, 8);
 }

 .nav-button {
  color:rgb(227, 202, 195);
 }