 .u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-list-1 {
  width: 399px;
  margin: 36px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 21.3333px) calc(33.3333% - 21.3333px) calc(33.3333% - 21.3333px);
  grid-gap: 32px 32px;
  min-height: 45px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
  
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: -32px calc(((100% - 1140px) / 2) + 915px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 63px auto 0 calc(((100% - 1140px) / 2) + 422px);
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: 38px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  height: 241px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 49px auto 0;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  width: 332px;
  margin: 217px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -34px;
    margin-right: calc(((100% - 1140px) / 2) + 839px);
    margin-left: calc(((100% - 1140px) / 2) + 86px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 186px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 231px;
    margin-right: calc(((100% - 1140px) / 2) + 326px);
    margin-left: calc(((100% - 1140px) / 2) + 382px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 455px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 30px) calc(33.3333% - 30px) calc(33.3333% - 30px);
    grid-gap: 45px 45px;
    min-height: 180px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 2px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 2px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 2px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -174px;
    margin-right: calc(((100% - 720px) / 2) + 505px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 84px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 42px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 508px;
    margin-left: calc(((100% - 1140px) / 2) + 415px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 322px;
    margin-top: 25px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 4px 4px;
    grid-template-columns: calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 4px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -180px;
    margin-right: calc(((100% - 540px) / 2) + 325px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 90px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 33px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2) + -43px);
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 373px;
    margin: 183px auto 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    margin-top: 80px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -113px;
    margin-right: calc(((100% - 340px) / 2) + 17px);
    margin-left: calc(((100% - 340px) / 2) + 109px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 306px;
    margin-left: calc(((100% - 1140px) / 2) + 478px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 74px;
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2) + -43px);
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 204px;
    margin-top: 225px;
    margin-left: calc(((100% - 1140px) / 2) + 468px);
    margin-right: calc(((100% - 1140px) / 2) + 468px);
  }
}