body {
    background-color: rgb(228, 228, 228);
}
/* navigation bar section*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    background-color: rgb(167, 167, 167);
    height: 82px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 15px 6px -6px rgb(129, 129, 129);       
}

.nav_profile {
    font-size: 20px;
    padding: 5px 25px;
    background-color:rgb(198, 198, 198);
    border-radius:12px;
    margin: 15px;
        
}

.nav_profile:hover {
    background-color:brown;
    color:aliceblue;
}

.nav_search {
    float:right ;
    padding: 5px 25px;
    margin: 30px 15px;
    border-radius:12px;          
}

.nav_title {
    font-size:xx-large;
    color: rgb(199, 199, 199);        
}

.container{
    display: flex;
    flex-direction: column;
    height:fit-content;
    background-color: rgb(164, 164, 164);
    border-radius: 12px;
    width: 30%; 
    
    
}

.form {
    background-color: brown;
}