{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Instagranny">
    <meta name="description" content="">
    <title>About Us</title>

	<link rel="stylesheet" href="{% static "css/About-Us.css" %}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400|Oswald:200,300,400,500,600,700">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
 
  <body data-lang="en" class="page">
    <section class="gx-0">
      <div class="bgcolor row gx-0 rounded-bottom">
        <nav class="col sticky-top ms-4">
          <div class="row gx-0 ms-2 mt-4">
            <div class="col-xl-9 col-lg-8 col-md-6 col-sm-5 col-xs-3">
              <a class="nav_title" style="color: black; text-decoration:none;"  href="/"><h5 class="nav-button">Instagranny</h5></a>
              
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 float-end ">
              <ul class="list-inline float-end">
                <li class="nav-button list-inline-item ms-2 me-3"><a align=right href="/" style="color: black; text-decoration:none;"><h5 class="nav-button">Home</h5></a></li>
                <li class="nav-button list-inline-item me-3"><a href="/AboutUs" style="color: black; text-decoration:none;"><h5 class="nav-button">About Us</h5></a></li>
                <li class="nav-button list-inline-item ms-2 me-5"><a href="/FAQ" style="color: black; text-decoration:none;"><h5 class="nav-button">FAQ</h5></a></li>
              </ul>	         
            </div>
          </div>
        </nav>
      </div>

      </div class="row gx-0">
          
        <div class="row gx-0 mt-5">
          <h2 align=center>Wondering what`s this and why?</h2>
        </div> 
        
        
      </div>
        <div class="row gx-0">
          <div class="mt-5"><h3 align=center>What is Instagranny?<h3></div>
        </div>
        <div class="row gx-0 mt-3 justify-content-center">
          <div class="col-xl-6">
            <h4 align=center>Instagranny is a social media platform developed with our grannies in our heart and anxiety in our soul.<br>Our scope is to ensure a solid space for them to socialize, get toghether, share memories and lifelong accomplishments, while keeping everything from being exposed to the whole world!</h4>
          </div>
        </div> 
        <div class="row gx-0">
          <div class="mt-5"><h3 align=center>But why?<h3></div>
        </div>
        <div class="row gx-0 mt-3 justify-content-center">
          <div class="col-xl-6">
            <h4 align=center>In the last couple of years, older generations have stormed the world wide web and managed to get accustomed to the life with social media platforms. More&nbsp; than that, they are in love with them!
            </br> Have you ever attended a family gathering and your grandma asked you to create her a Facebook account, so she can speak with her friends and former highschool colleagues? Well, rest assured, you are not the only one! Millions of baby boomers are now on social media, with their number growing by the day. And that`s great, there is a place for everyone on the internet!
            </br>  It`s all fun and games when they find their long lost bff`s and share recipes of their best dishes, or when they create groups for travelling, but it all falls aparent as soon as they hit us&nbsp; with the deadly. . . public share of photos with our young naked bottoms!
            </br>  Do you still have PTSD after the whole internet got a hold of a picture with a 4 year old you, with nothing but a cap on your head and playing in your gran`s yard? Have you ever got up in the middle of the night scared thinking it might happen again?
            </h4>
          </div>
        </div> 
               
        
      <p align=center class="mt-5">Project created by Stefan Zaharia </p>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> 
  </body>
</html>