{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Instagranny">
    <meta name="description" content="">
    <title>FAQ</title>

	<link rel="stylesheet" href="{% static "css/FAQ.css" %}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400|Oswald:200,300,400,500,600,700">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
 
  <body data-lang="en" class="page">
    <section class="gx-0">
      <div class="bgcolor row gx-0 rounded-bottom">
        <nav class="col sticky-top ms-4">
          <div class="row gx-0 ms-2 mt-4">
            <div class="col-xl-9 col-lg-8 col-md-6 col-sm-5 col-xs-3">
              <a class="nav_title" style="color: black; text-decoration:none;"  href="/"><h5 class="nav-button">Instagranny</h5></a>
              
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 float-end ">
              <ul class="list-inline float-end">
                <li class="nav-button list-inline-item ms-2 me-3"><a align=right href="/" style="color: black; text-decoration:none;"><h5 class="nav-button">Home</h5></a></li>
                <li class="nav-button list-inline-item me-3"><a href="/AboutUs" style="color: black; text-decoration:none;"><h5 class="nav-button">About Us</h5></a></li>
                <li class="nav-button list-inline-item ms-2 me-5"><a href="/FAQ" style="color: black; text-decoration:none;"><h5 class="nav-button">FAQ</h5></a></li>
              </ul>	         
            </div>
          </div>
        </nav>
      </div>

      </div class="row gx-0">
        <div class="row gx-0 mt-5">
          <h1 align=center>Have any questions?</h1>
        </div>  
        <div class="row gx-0 mt-5">
          <h2 align=center>Look below and you might find your answer! :)</h2>
        </div> 
        
        
      </div>
        <div class="row gx-0">
          <div class="mt-5"><h3 align=center>Q: Is this website for real?<h3></div>
        </div>
        <div class="row gx-0 mt-3 justify-content-center">
          <div class="col-xl-6">
            <h4 align=center>A: Is life real? We don`t know, but what we can tell you is that every idea can lead to wonderful things if it`s treated with passion and a lot of effort. Reality is not something absolute, everyone can shape his own reality through his actions.</h4>
          </div>
        </div> 
        <div class="row gx-0">
          <div class="mt-5"><h3 align=center>Q: Can my grandma use this app?<h3></div>
        </div>
        <div class="row gx-0 mt-3 justify-content-center">
          <div class="col-xl-6">
            <h4 align=center>A: Currently this app was developed to showcase the creator`s (me) skills for future employment. Yet, who knows, maybe one day our grandmas can talk about us on this app!</h4>
          </div>
        </div> 
        <div class="row gx-0">
          <div class="mt-5"><h3 align=center>Q: Was it fun to create the whole "Instagranny" project?<h3></div>
        </div>
        <div class="row gx-0 mt-3 justify-content-center">
          <div class="col-xl-6">
            <h4 align=center>A: We don`t have enough words to describe how fun it was! Being the first web app ever created, it helped a lot in learning and developing technical skill that will surely be used for bigger projects!</h4>
          </div>
        </div>         
        
      <p align=center class="mt-5">Project created by Stefan Zaharia </p>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> 
  </body>
</html>