{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Instagranny">
    <meta name="description" content="">
    <title>Home</title>

	<link rel="stylesheet" href="{% static "css/Home.css" %}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400|Oswald:200,300,400,500,600,700">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
 
  <body data-lang="en" class="page">
    <section class="gx-0">
		<div class="bgcolor row gx-0 rounded-bottom">
			<nav class="bgcolor col sticky-top ms-4">
				<div class="row gx-0 ms-2 mt-4">
					<div class="col-xl-9 col-lg-8 col-md-6 col-sm-5 col-xs-3">
						<a class="nav_title" style="color: black; text-decoration:none;"  href="/"><h5 class="nav-button" style="font-family:Lobster Two;">Instagranny</h5></a>
						
					</div>

					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 float-end ">
						<ul class="list-inline float-end">
							<li class="nav-button list-inline-item ms-2 me-3"><a align=right href="/" style="color: black; text-decoration:none;"><h5 class="nav-button">Home</h5></a></li>
							<li class="nav-button list-inline-item me-3"><a href="/AboutUs" style="color: black; text-decoration:none;"><h5 class="nav-button">About Us</h5></a></li>
							<li class=" list-inline-item ms-2 me-5"><a href="/FAQ" style="color: black; text-decoration:none;"><h5 class="nav-button">FAQ</h5></a></li>
						</ul>	           

					</div>
					
				</div>
			</nav>
		</div>
      
		<div class="row gx-0 mt-5">
			<h1 align=center style="font-family:Lobster Two; color:rgb(46, 46, 46)"> Instagranny</h1>
		</div>
		<div class="row gx-0 mt-5 mb-5">
			<h3 align=center style="color:rgb(46, 46, 46)">The social platform of the golden generation!&nbsp;</h3>
		</div>
		{% for message in messages %}
              <h5 align=center style="color:red">{{message}}</h5>
        {% endfor %}
		
		<div class="row gx-0">
			<div class="img col-xl-6 col-lg-7 col-md-7 col-sm-8 col-xs-3 ms-4 py-2" >
				
					<img src="media/granny_photo.png" class="float-end">
				
			</div>

			
			<div class="col-xl-4 col-lg-3 col-md-4 col-sm-10 col-xs-2 mt-5">
				<div class="row gx-0 justify-content-center  ">	
					<div class=" mt-5 col-xl-6 col-lg-6 col-md-8 col-sm-8 col-xs-4 ">
						<div class=" mt-3">
							<div class="row  text-center mt-5">
								<button id="login" class="rounded-3 py-2"><a class="button_text" href="login" style="font-weight: bold; font-size: x-large; color: rgb(208, 142, 10); text-decoration:none;">LOG IN</a></button>
							</div>
						</div>
						<div class=" mt-3">
							<div class="row text-center mt-5 mb-5">
								<button id="register" class="rounded-3 py-2"><a href="Register" style="font-weight: bold; font-size: x-large; color: rgb(208, 142, 10); text-decoration:none;">REGISTER</a></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
      <p align=center class="mt-3">Project created by Stefan Zaharia</p>
    </section>
    
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	</body>
</html>