{%load static %}
    <!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Instagranny">
    <meta name="description" content="">
    <title>News_Feed</title>
    <link rel="stylesheet" href= "{% static "css/profile.css" %}" media="screen">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <body>

        <nav class="sticky-top">
    
            <a class="nav_profile" style="color: black; text-decoration:none"  href="/feed">Back to feed!</a>
            <div class="nav_title" style="font-family:Lobster Two">Instagranny</div>
            <form method="GET" action="{%url "people_search" %}">
                {% csrf_token %}
                <div class="input-group mt-2 me-4">
                    <div class="form-outline">
                        <input type="search" id="form1" class="form-control" placeholder="Search people" name="query" value="{{request.GET.query}}" />
                    </div>
                    <button type="submit" class="btn btn-light">Search</button>
                </div>            
            </form>
            
    
        </nav>
        <div class="row mt-1 sticky-top" style="top:13%">
            <div class="col">
                {% if request.user.username == user.username %}
                    <button class="nav_profile float-end me-5" ><a href="/logout" style="text-decoration:none; color:white" >logout</a></button>
                {%endif%}
            </div>
        </div>
        <div class="row">
            
            <div class="col-3  ms-5 container sticky-top" style="top: 13%">
                <div class="row mt-3 img">
                    <img class="abc img-fluid" src="{{user.profile.profileimg.url}}">
                </div>
                <div class="row">
                    <div class="col-4 mt-4 ms-3 ">
                        <h4>@{{user.username}} </h4>
                    </div>
                    {% if request.user.username != user.username %}
                    <div class="col-4 mt-1 ms-4 "> 
                        <form method="POST" action="{%url "add_follower" profile.pk%}">  
                        {% csrf_token %}
                        {% if followed == False%}                     
                        <button class="nav_profile" type="submit">Follow!</button>
                        {% else %}
                        <button class="nav_profile" type="submit">Unfollow!</button>
                        {%endif%}
                        </form>
                    </div>
                    {%endif%}
                    {% if request.user.username == user.username %}
                    <div class="col-3 mt-1  ">                        
                        <button class=" nav_profile float-end"><a href="{%url "profile_update" user.profile.pk%}"style="text-decoration:none; color:white" >Update Profile</a></button>
                    </div>
                    <div class="col-4 mt-1 ">                        
                        <button class=" nav_profile float-end"><a href="{%url "password_update" user.profile.pk%}"style="text-decoration:none; color:white" >Change Password</a></button>
                    </div>
                    {%endif%}
                                        
                </div>       
                    
                
                <div class="mt-3 pb-2 ps-4 ms-1 border-2 border-bottom border-dark rounded">
                    <h4> {{user.profile.bio}} </h4>
                </div>
                <div class="row">
                    <div class="col-6 border-2 border-end border-dark"> 
                        <h3 class="text-center">Followers</h3>
                        <h2 class="text-center">{{profile.followers.all.count}}</h2>
                    </div>
                    <div class="col-6"> 
                        <h3 class="text-center">Following</h3>
                        <h2 class="text-center">{{following_count}}</h2>
                    </div>
                </div>
                
            </div>     
        

            <div class="col-5 ms-5 p-0 ms-3">
                {%for post in posts%}
                <div class="container mb-3">
                    {%if post.creator == request.user%}
                    <div class="row">
                        {% csrf_token %}
                        <button type="submit" class="col-2 ms-2 mt-2 nav_profile"><a href="{%url "post_delete" post.pk%}"style="text-decoration:none; color:white" >Delete</a></button>
                    </div>
                    {%endif%}
                    {%if post.photo%}
                    <img class="m-3 rounded-2" src="{{post.photo.url}}"/>
                    {%endif%}
                    <div class="row ms-3 mt-2">
                        <div class="col">
                            <h4>@{{post.creator}}</h4>
                        </div>
                        <div class="col">
                            <h4 class = "float-end me-2">{{post.created_at}}</h4>
                        </div>
                    </div>
                    <p class="h5 ms-4 me-4 mb-5">{{post.description}}</p>
                    
                    <div class="row">
                            <div class="col">
                                <h4 class="ms-4 ">{{post.likes.all.count}} Likes</h4>
                            </div>
                            <div class="col">
                                <h4 class="float-end me-4">{{post.comments.all.count}} Comments</h4>
                            </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col ms-1">
                            {%if liked == False %}
                            <form action= "{% url "like_post" post.pk %}" method="POST" >
                            {% csrf_token %}
                            <button type="submit" name="post_id" value="{{post.id}}" class=" nav_profile mt-2 float-start">Like!</button>
                            </form>
                            {%else%}
                            <form action= "{% url "like_post" post.pk %}" method="POST" >
                            {% csrf_token %}
                            <button type="submit" name="post_id" value="{{post.id}}" class=" nav_profile mt-2 float-start">Unlike!</button>
                            </form>
                            {%endif%}
                        </div>
                        <div class="col ms-5">
                            <button  class="nav_profile mt-2 me-4 float-end" ><a href="{% url "post_detail" post.pk %}" style="text-decoration:none; color:black">Comment!</a> </button>
                        </div>
                    </div>
                        
                </div>
                {% endfor %}
            </div>
            <div class="col-2 p-0"></div>
        
        </div> 


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>
