 .bgcolor {
  background-color: rgb(156, 1, 45);
 }
 
#login {
    background-color:rgb(156, 1, 45); 
}

 #login:hover {
  background-color:rgb(156, 1, 45);
 }

 #register:hover {
  background-color:rgb(156, 1, 45);
 }

 .nav-button:hover {
  color:aliceblue;
 }